<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/common.css">
	<link rel="stylesheet" type="text/css" href="/theme.css"><!-- This is a css-file which *should* change depending on a browser cookie see python code -->
</head>
<body>
<header>
	{% if is_logged_in() %}
		<a class="user" href="/user"></a>
	{% else %}
		<a href="/login">Login</a>
	{% endif %}
</header>
<div class="main">
	{% block main %}{% endblock %}
</div>
<footer>
	<a href="/set-theme?theme=dark&return={{ request.path }}"><div class="theme-dark" title="Dark theme"></div></a>
	<a href="/set-theme?theme=default&return={{ request.path }}"><div class="theme-default" title="Light theme"></div></a>
</footer>
</body>
</html>