footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    text-align: right;
    padding: 5px;
    box-sizing: border-box;
}

a {
    display: inline-block;
}

.user {
    border-radius: 32px;
    width: 32px;
    height: 32px;
    background-image: url('/dusers/@me/image');
}

.button {
    text-decoration: none;
    padding: 2px;
    display: inline-block;
}

.user:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/dusers/@me/image');
}

header {
    margin: 0;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px;
    box-sizing: border-box;
    border-bottom: 1px white solid;
    text-align: right;
}

.main {
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 80%;
}

.error {
    display: block;
    border: 1px red solid;
}

a {
    color: inherit;
}

.theme-default {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: white;
    border: 1px red;
}

.theme-dark {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: black;
    border: 1px white;
}

body {
    background: red;
}
