/*
	This is a theme.css file. Depending on a browser cookie a different theme is choosen.
*/
.button{
	border: 1px black solid;
	background: #3d3d3d;
}
header{
	background: #2d2d2d;
}
.main{
	background: #2d2d2d;
	border: 1px black solid;
}
footer{
	background: #2d2d2d;
	border-top: 1px #e9eaee solid;
}
body{
	background: #3d3d3d;
}

* {
    color:white;
}


a:hover{
    background: #444;
}
