/*
	This is a theme.css file. Depending on a browser cookie a different theme is choosen.
*/
header{
	background: #e9eaee;
	border-bottom: 1px red solid;
}
footer{
	background: #e9eaee;
	border-top: 1px red solid;
}
body{
	background: white;
}
.button{
	background: #aaa8a8;
	border: 1px black solid;
}
.button:hover{
	background: #817f7f; 
}
.main{
	background: #c3c3c3;
	border: 1px red solid;
}