{% extends "base.html" %}
{% block title %}User - {{ user['username'] }}{% endblock %}
{% block main %}
	<p>
		<table>
			<tr>
				<td>Name</td><td>{{ user['username'] }}</td>
			</tr>
			<tr>
				<td>Discriminator</td><td>{{ user['discriminator'] }}</td>
			</tr>
			<tr>
				<td>Id</td><td>{{ user['id'] }}</td>
			</tr>
		</table>
	</p>
	<p><a class="button" href="/logout">Logout</a></p>
{% endblock %}